{% extends 'base.html' %}
{% load static %} 
{% load widget_tweaks %}
{% block content %}
<div class="p-8 flex flex-col items-center">
    <!-- <h1 class="font-medium leading-tight text-4xl mt-0 mb-4 text-blue-600">Welcome</h1> -->
    <div class="container-fluid">
        <img src="{% static 'img/kids.jpg'%}" class="img-fluid" alt="Responsive image">
        <div class="d-flex p-2"><h4> </h4></div>
        
          <p>Health problems stemming from environmental and occupational hazards and climate change are escalating in the Eastern African region. Pollution resulting from increasing population, rapid urbanization and industrialization is a growing concern. In 2016, for example, the World Health Organization (WHO) estimated ambient air pollution caused 4.2 million premature deaths around the world. 91% of the world’s populations reside in places where WHO Air Quality Guidelines are not met, with the greatest exposures facing those in low- and middle-income countries.</p>

          <p>The Eastern Africa GEOHealth Hub is a research and training center focused on environmental and occupational health in eastern Africa, The Hub started in its Cycle I funding with focus on Ethiopia, Kenya, Rwanda and Uganda. In the current Cycle II, the primary focus will be on Ethiopia, Kenya, and Uganda, along with expanded training partnerships in Rwanda, Ghana, and Cameroon.</p>
          
          <p>Formally launched in 2015, the Hub grew from a joint planning grant awarded to the University of Southern California in the United States (U.S.) and Addis Ababa University in Ethiopia by the Global Environmental and Occupational Health (GEOHealth) program through the Fogarty International Center of the National Institutes of Health (NIH) in 2012. The GEOHealth initiative is overseen by the NIH to paired institutions in the U.S. and in low- or middle-income countries to plan research, training and curriculum development that address and inform health policy issues. Following a successful Cycle I, the Hub was renewed for another five year funding cycle in 2022 to continue ongoing research and training projects as well as launch new initiatives.</p>
          
          <p>The Eastern Africa GEOHealth Hub headquarters are housed at Addis Ababa University in Ethiopia and Columbia University in the U.S., for the research and training components, respectively. Training initiatives in Cycle II are supported by a consortium of U.S.-based experts from Columbia University, Colorado School of Public Health, University of Southern California, and Colorado State University.. In Cycle I, University of Wisconsin, Madison and the South Coast Air Quality Management District were U.S. based partners. Research initiatives are ongoing across eastern Africa led by researchers at Addis Ababa University, Ethiopia; Makerere University, Uganda; and the University of Nairobi, Kenya.</p>
          
          The Hub focuses on three targeted areas:
          
          Household and outdoor air quality and health
          Occupational health, with emphasis on agriculture
          Climate change and health
          Through collaborative partnership the Hub has successfully designed and implemented a multifaceted research training program that has strengthened local capacity to conduct environmental and occupational health research as well as directly supported the development and implementation of a number of research studies and translation of findings in each Hub country in Cycle I. Building on this success, the Hub continues to grow its research and training portfolios, expand the Hub network, and foster in-country expertise in environmental and occupational health research and policy in Cycle II.
          
          
        </div>
        </div>
      

        
      
    
    
    
    

{% endblock %}