{% extends 'base.html' %}
<!-- {% load widget_tweaks %} -->
{% block content %}
<div class="p-8 flex flex-col items-center">
</p>
<p></p>
<!-- <div class="p-8 flex flex-col items-center"> -->
<!-- <div class="max-w-sm rounded overflow-hidden shadow-lg">
    {% for upload in uploads %}
    <img class="w-full" src="{{upload.image.url}}" alt="{{upload.name}}">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">{{upload.name}}</div>
      <p class="text-gray-700 text-base">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
     {% endfor %}
    </div>
  </div>
</div> -->
<div class="max-w-sm rounded overflow-hidden shadow-lg">
    {% for upload in uploads %}
    <img class="w-full" src="{{upload.image.url}}" alt="{{upload.name}}">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">{{upload.name}}</div>
       <p>Size(bytes): {{upload.image.size}}</p>
       <p>width: {{upload.image.width}}</p>
       <p>Height: {{upload.image.height}}</p>
    </div>
    <center>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none">
        <a href="{% url 'delete-image' upload.pk %}">
            Delete image
        </a>
    </button>
</center>
    <div class="px-6 pt-4 pb-2">
      <!-- <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span> -->
    </div>
    {% endfor %}
  </div>

{% endblock%}