{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="p-8 flex flex-col items-center">
    <!-- <h1 class="font-medium leading-tight text-4xl mt-0 mb-4 text-blue-600">Welcome</h1> -->
    <p>
    <!-- <a class="text-blue-600 tracking-normal mb-4" href="{% url 'upload-agakhan-data'%}">Upload Agakhan Data</a> -->
    </p>
    
    <div class="w-full max-w-xs">
        <img class="w-full" src="{% static 'img/upload.jpeg' %}" alt="Upload">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post" action="{% url 'upload-published-papers-data' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                    File Name
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" name="name" type="text" placeholder="name">
            </div>
            <div>
                <label for="file" class="form-label">Choose File</label>
                <input class="form-control form-control-md" id="file" name="file" type="file">
            </div>
            <p></p>
            <div class="flex items-center justify-between">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Submit
                </button>
            </div>
            <p></p>
            <a class="nav-link active" href="{%url 'list-published-papers-data' %}">List Published Papers Files </a>
        </form>
    </div>
    
    
    

{% endblock %}